.footer {
  background-color: rgb(1,1,57);
  text-align: center;
  padding: 60px;
}

.footer a{
  color: rgb(134,134,134);
  font-size: 30px;
  margin: 0 10px;
}
.footer p {
  color: white;
  opacity: 0.5
}

.footer a:hover {
  opacity: 1;
  color: white;
}
